
.api-method{
  font-weight: bolder;
  display: inline-block;
}

.param-string{
  color: #0c63e4;
}
.param-number{
  color: #22a100;
}
.param-integer{
  color: #8b00d4;
}
.param-array{
  color: #ef0487;
}
.param-map{
  color: #f58e08;
}
.param-object{
  color: #8a0d0d;
}
.param-boolean{
  color: #81efce;
}
.param-null{
  color: #a9a9a9;
}
.param-any{
  color: #dd8efd;
}
.param-blob{
  color: #9d9d00;
}
.api-method-get{
  color: #22a100;
}
.api-method-post{
  color: #f1456d;
}
.api-method-put{
  color: #0083a1;
}
.api-method-delete{
  color: #f8020a;
}
.api-method-head{
  color: #76936d;
}
.api-method-options{
  color: #7e7e7e;
}
.api-status{
  display: inline-block;
  width: 6px !important;
  height: 6px !important;
  border-radius: 3px;
  margin-right: 5px;
}
.api-status-develop{
  background-color: var(--bs-primary)
}
.api-status-test{
  background-color: var(--bs-gray-600)
}
.api-status-released{
  background-color: var(--bs-success)
}
.api-status-deprecated{
  background-color: var(--bs-danger)
}
.model-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .treeicon:hover{
    color: $blue;
  }
  .model-field{
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .model-title{
    flex-grow: 1;
  }
  .model-action{
    display: flex;
    align-content: flex-end;
    justify-items: center;
  }
}
.model-item:hover{
  background-color: #efefef;
}
.bind-icon.bound{
  background-color: var(--bs-primary);
  color: #fff;
}
.bind-icon.bound-out{
  background-color: var(--bs-success);
  color: #fff;
}
.bind-icon{
  height: 16px;
  width: 16px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: var(--bs-gray-600);
}
.bind-icon:hover{
  color: var(--bs-primary) !important;
  background-color: transparent;
}

.iconfont.hover-primary:hover{
  color: var(--bs-primary) !important;
}
.iconfont.hover-danger:hover{
  color: var(--bs-danger) !important;;
}
.expression-hover{
  background-color: #fcf4f4 !important;
}
.expression{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 6px;
  border-radius: 6px;
}
.expression-1{
  background-color: #f7fafd;
}
.expression-1{
  background-color: #ebf1fa;
}
.expression-2{
  background-color: #cedef6;
}
.expression-3{
  background-color: #b5cef5;
}
.expression-4{
  background-color: #8eb6f5;
}
.expression-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.expression-group:before{
  content: '(';
  width: 16px;
  text-align: center;
  color: #0233fa;
}
.expression-group:after{
  content: ')';
  width: 16px;
  text-align: center;
  color: #0233fa;
}
.expression-literal{
  color: #780085;
}
.expression-data{
  border-radius: 3px;
  padding: 0px 3px;
  color: #854700;
}
.expression-modifier-not:before{
  content: '!';
  width: 16px;
  text-align: center;
  color: #c00000;
}
.expression-op{
  margin: 0px 3px;
  color: #c00000;
}
