.layui-layer-btn a{
  text-decoration: none !important;
}
:root {
  --global-primary-color: var(--bs-primary) !important;
}
.layui-layer-content-overflow .layui-layer-content{
  overflow: visible !important;
}
