// 重载bootstrap的相关变量
$topPanelHeight: 50px;
$leftPanelWidth:50px;
$leftSidebarWidth:280px; // 同design.leftSidebarWidth
$rightSidebarWidth:350px; // 同design.rightSidebarWidth

// bootstrap 颜色重载
$gray-100: #f0f2f5 !default;
$gray-200: #e2e4e7 !default;
$gray-300: #d2d4d6 !default;
$gray-400: #c0c1c3 !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
