@font-face {
  font-family: "iconfont"; /* Project id 2138106 */
  src: url('iconfont.woff2?t=1708163158597') format('woff2'),
       url('iconfont.woff?t=1708163158597') format('woff'),
       url('iconfont.ttf?t=1708163158597') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e60d";
}

.icon-checked:before {
  content: "\e8f7";
}

.icon-unchecked:before {
  content: "\e61a";
}

.icon-point:before {
  content: "\e613";
}

.icon-position:before {
  content: "\e60a";
}

.icon-popup:before {
  content: "\e6a8";
}

.icon-component:before {
  content: "\ecbf";
}

.icon-uicomponent:before {
  content: "\e608";
}

.icon-ok:before {
  content: "\e66f";
}

.icon-rename:before {
  content: "\e9ff";
}

.icon-cleanup:before {
  content: "\e8b2";
}

.icon-click:before {
  content: "\e692";
}

.icon-data-input:before {
  content: "\e60e";
}

.icon-data-output:before {
  content: "\ecbe";
}

.icon-wuneirong:before {
  content: "\e606";
}

.icon-delete-confirm:before {
  content: "\e6f2";
}

.icon-delete:before {
  content: "\e653";
}

.icon-api:before {
  content: "\e639";
}

.icon-graphql:before {
  content: "\e652";
}

.icon-folder:before {
  content: "\e6b0";
}

.icon-theme:before {
  content: "\e7af";
}

.icon-holder:before {
  content: "\e62c";
}

.icon-expandall:before {
  content: "\e882";
}

.icon-collapseall:before {
  content: "\e8d2";
}

.icon-uishare:before {
  content: "\e8c7";
}

.icon-boxmodel:before {
  content: "\e970";
}

.icon-topbar-quit:before {
  content: "\e6aa";
}

.icon-richtext:before {
  content: "\e625";
}

.icon-badge:before {
  content: "\e605";
}

.icon-carousel:before {
  content: "\e604";
}

.icon-collapse:before {
  content: "\ecbc";
}

.icon-modal:before {
  content: "\e6cc";
}

.icon-switch-on:before {
  content: "\e7d9";
}

.icon-switch-off:before {
  content: "\e7da";
}

.icon-tips:before {
  content: "\e7a3";
}

.icon-auto:before {
  content: "\e6db";
}

.icon-table:before {
  content: "\e659";
}

.icon-icon:before {
  content: "\e612";
}

.icon-error:before {
  content: "\e69d";
}

.icon-buttongroup:before {
  content: "\e6d1";
}

.icon-function:before {
  content: "\e81b";
}

.icon-more:before {
  content: "\e603";
}

.icon-setting:before {
  content: "\e711";
}

.icon-navbar:before {
  content: "\e6ce";
}

.icon-nav:before {
  content: "\e602";
}

.icon-hr:before {
  content: "\e601";
}

.icon-align-justify:before {
  content: "\e715";
}

.icon-align-right:before {
  content: "\e716";
}

.icon-align-left:before {
  content: "\e714";
}

.icon-align-center:before {
  content: "\e713";
}

.icon-code:before {
  content: "\e667";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-drag:before {
  content: "\e707";
}

.icon-edit:before {
  content: "\e64f";
}

.icon-image1:before {
  content: "\e600";
}

.icon-rangeinput:before {
  content: "\e633";
}

.icon-through:before {
  content: "\ec17";
}

.icon-underline:before {
  content: "\eca2";
}

.icon-italic:before {
  content: "\e762";
}

.icon-bold:before {
  content: "\e64e";
}

.icon-lb:before {
  content: "\e930";
}

.icon-lt:before {
  content: "\e932";
}

.icon-ct:before {
  content: "\e933";
}

.icon-rt:before {
  content: "\e934";
}

.icon-rc:before {
  content: "\e935";
}

.icon-rb:before {
  content: "\e936";
}

.icon-cb:before {
  content: "\e776";
}

.icon-lc:before {
  content: "\e92f";
}

.icon-image:before {
  content: "\e92e";
}

.icon-page:before {
  content: "\e640";
}

.icon-run:before {
  content: "\e7de";
}

.icon-review:before {
  content: "\e6b6";
}

.icon-baseui:before {
  content: "\e651";
}

.icon-dropdown:before {
  content: "\e66e";
}

.icon-card:before {
  content: "\e6c5";
}

.icon-list:before {
  content: "\e701";
}

.icon-progress:before {
  content: "\e648";
}

.icon-textarea:before {
  content: "\e62f";
}

.icon-breadcrumb:before {
  content: "\e6dc";
}

.icon-button:before {
  content: "\e7fd";
}

.icon-pagination:before {
  content: "\e705";
}

.icon-myui:before {
  content: "\e66d";
}

.icon-masterpage:before {
  content: "\e6de";
}

.icon-module:before {
  content: "\e84a";
}

.icon-projectui:before {
  content: "\e60b";
}

.icon-effect:before {
  content: "\e65b";
}

.icon-data:before {
  content: "\e6ab";
}

.icon-tree:before {
  content: "\e607";
}

.icon-style:before {
  content: "\e632";
}

.icon-event:before {
  content: "\ecbd";
}

.icon-placeholder:before {
  content: "\e6c2";
}

.icon-arrow-up:before {
  content: "\eca3";
}

.icon-tree-open:before {
  content: "\e80a";
}

.icon-tree-close:before {
  content: "\e623";
}

.icon-radio:before {
  content: "\e631";
}

.icon-checkbox:before {
  content: "\e646";
}

.icon-input:before {
  content: "\e619";
}

.icon-text:before {
  content: "\e734";
}

.icon-select:before {
  content: "\e6b8";
}

.icon-container:before {
  content: "\e650";
}

.icon-lock:before {
  content: "\e689";
}

.icon-unlock:before {
  content: "\e809";
}

.icon-copy:before {
  content: "\e725";
}

.icon-remove:before {
  content: "\e614";
}

.icon-plus:before {
  content: "\e661";
}

.icon-cc:before {
  content: "\e937";
}

.icon-pagemap:before {
  content: "\e6b2";
}

.icon-preview:before {
  content: "\e636";
}

.icon-minus:before {
  content: "\e60c";
}

.icon-mobile:before {
  content: "\e62b";
}

.icon-tablet:before {
  content: "\e72e";
}

.icon-pc:before {
  content: "\e671";
}

.icon-mobile2:before {
  content: "\e72f";
}

.icon-file:before {
  content: "\e609";
}

.icon-project:before {
  content: "\e6bd";
}

.icon-pages:before {
  content: "\e6ea";
}

.icon-flow:before {
  content: "\e658";
}

.icon-ui:before {
  content: "\e61c";
}

